/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
}

/*reset ends */

:root {
    --background-color: #4F6367;
    --heading-color: #EEF5DB;
    --line1-color: #4F6367;
    --line2-color: #FF8981;
    --line3-color: #7A9E9F;
    --line4-color: #B8D8D8;
    --text-color: black;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    background-color: #EEF5DB;
}

.headbar {
    position: fixed;
    top: 0;
    z-index: 2
}

.header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 5% 40% 5% 40% 5% 5%;
    align-items: center;
    margin: auto;
    background-color: var(--background-color);
}

h1, h2 {
    font-family: 'Super Grotesk Offc Pro', sans-serif;
    color: var(--heading-color);
    padding-left: 20px;
    justify-self: center;
}

#brookheader {
    grid-column: 1 / 2;
    grid-row: 2 / 6;
    justify-self: end;
    z-index: 1;
}

h1 {
    font-size: 8vw;
    font-weight: 700;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

h2 {
    font-size: 5vw;
    font-weight: 400;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.lines {
    z-index: 3;
}

.line {
    height: 1vh;
}

#line1 {
    background-color: var(--line1-color);
    height: 0.5vh;
}

#line2 {
    background-color: var(--line2-color);
}

#line3 {
    background-color: var(--line3-color);
}

#line4 {
    background-color: var(--line4-color);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.main {
    margin-top: 151px;
    display: grid;
    grid-template-columns: 5% 5% 80% 5% 5%;
    grid-template-rows: auto;
    background-image: url('images/AdobeStock_257326827.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
}

.text {
    padding-top: 3vh;
    animation: fadeIn 3s;
    grid-column: 3 / 4;
}

.blurb {
    font-family: 'Minion Pro', sans-serif;
    font-size: 5vw;
    font-weight: 800;
    width: 90%;
    margin: auto;
    text-align: left;
    color: var(--text-color);
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.text img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.imageline {
    height: 10px;
    background-color: #FF8981;
    width: 100%;
    margin: auto;
    border-radius: 50%;
}

#brook1, #brook2, #brook3, #brook4 {
    width: 90%;
    border-radius: 50%;
}

#vertleft {
    border-left: 2px dotted #4F6367;
    height: 100%;
    grid-column: 2 / 3;
}

#vertright {
    border-right: 2px dotted #4F6367;
    height: 100%;
    grid-column: 4 / 5;
}

.collapsible {
    margin-top: 2vh;
    background-color: #4F6367;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-family: 'Super Grotesk Offc Pro', sans-serif;
    color: var(--heading-color);
    font-size: 6vw;
    font-weight: 700;
}

.content {
    font-family: 'Minion Pro', sans-serif;
    padding: 0 18px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: none;
    overflow: hidden;
    background-color: #4F6367;
    border-left: 2px dotted #4F6367;
    border-right: 2px dotted #4F6367;
    border-bottom: 2px dotted #4F6367;
    font-size: 5vw;
    font-weight: 800;
    color: var(--heading-color);
}

.question {
    color:#FF8981;
}

#belowfaqs {
    margin-top: 2vh;
}

.contacttext {
    font-family: 'Minion Pro', sans-serif;
    font-size: 10vw;
    font-weight: 800;
    width: 90%;
    margin: auto;
    text-align: center;
    color: var(--text-color);
}

.contactimage {
    width: 20vw;
    display: inline;
}

#last {
    margin-bottom: 5vh;
}